<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aloparent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aloparent"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Artikel.Artikel4"
            android:exported="false" />
        <activity
            android:name=".Artikel.Artikel3"
            android:exported="false" />
        <activity
            android:name=".Artikel.Artikel2"
            android:exported="false" />
        <activity
            android:name=".Artikel.Artikel1"
            android:exported="false" />
        <activity
            android:name=".SoalKelas.SoalC"
            android:exported="false" />
        <activity
            android:name=".SoalKelas.SoalB"
            android:exported="false" />
        <activity
            android:name=".SoalKelas.SoalA"
            android:exported="false" />
        <activity
            android:name=".View.UbahKataSandi"
            android:exported="false" />
        <activity
            android:name=".View.LupaPasswordNext"
            android:exported="false" />
        <activity
            android:name=".View.LupaPassword"
            android:exported="false" />
        <activity
            android:name=".View.KonfirmasiJadwal"
            android:exported="false" />
        <activity
            android:name=".View.AhliKesehatan"
            android:exported="false" />
        <activity
            android:name=".View.KonselingKesehatanActivity"
            android:exported="false" />
        <activity
            android:name=".View.PanduanOrangTuaScreen"
            android:exported="false" />
        <activity
            android:name=".View.UpdateDataAnak"
            android:exported="false" />
        <activity
            android:name=".View.UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".View.ProfileScreen"
            android:exported="false" />
        <activity
            android:name=".View.Notifikasi"
            android:exported="false" />
        <activity
            android:name=".View.DataAnak"
            android:exported="false" />
        <activity
            android:name=".View.favorite"
            android:exported="false" />
        <activity
            android:name=".View.Edukasi"
            android:exported="false" />
        <activity
            android:name=".View.Konseling"
            android:exported="false" />
        <activity
            android:name=".View.Kelas"
            android:exported="false" />
        <activity
            android:name=".View.Artikel"
            android:exported="false" />
        <activity
            android:name=".View.MediaPlayer"
            android:exported="false" />
        <activity
            android:name=".View.VideoHariIni"
            android:exported="false" />
        <activity
            android:name=".View.Home"
            android:exported="false" />
        <activity
            android:name=".View.BerhasilDaftar"
            android:exported="false" />
        <activity
            android:name=".View.BerhasilLogin"
            android:exported="false" />
        <activity
            android:name=".View.RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".View.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".View.OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".View.UpdateKataSandi"
            android:exported="false" />
        <activity
            android:name=".View.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>