<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aloparent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aloparent">
        <activity
            android:name=".Artikel"
            android:exported="false" />
        <activity
            android:name=".MediaPlayer"
            android:exported="false" />
        <activity
            android:name=".VideoHariIni"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateDataAnak"
            android:exported="true" />
        <activity
            android:name=".DataAnak"
            android:exported="false" />
        <activity
            android:name=".BerhasilDaftar"
            android:exported="false" />
        <activity
            android:name=".BerhasilLogin"
            android:exported="false" />
        <activity
            android:name=".RegisterScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" />
    </application>

</manifest>